* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    box-sizing: border-box;
}

.container {
display: flex;
flex-direction: column;
padding: 100px;
align-items: center;
text-align: center;
gap: 20px;
}

.btn {
    padding: 10px 20px;
    margin: 10px 20px;
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* Эффект при наведении курсора */
.btn:hover {
    background: linear-gradient(to bottom, #2980b9, #3498db);
}

/* Эффект при нажатии кнопки */
.btn:active {
    background: linear-gradient(to bottom, #1a557c, #27a21b);
}

.tasks {
display: flex;
flex-direction: column;
height: 70%;
width: 70%;
padding: 20px;
gap: 5px;
list-style: none; 
text-align: start;   
border: 1px solid rgba(0, 0, 0, 0.163);
border-radius: 5px;
box-shadow: 0 0 1vw 0 rgba(24, 18, 30, 0.151);
background-color: #297fb934;
}

.tasks > li {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.163);
    border-radius: 5px;
    box-shadow: 0 0 1vw 0 rgba(24, 18, 30, 0.151);
    background-color: #ffffff96;
    cursor: pointer;
}

.tasks > li:hover {
    box-shadow: 0 0 1vw 0 rgba(24, 18, 30, 0.491);

}

/* Эффект при нажатии на выполненную задачу */
.completed {
    text-decoration: line-through;
    color: green;
}

.completed::after {
    content: url(../icons/check-mark.svg);
    padding: 0 5px;
}